@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    background: #3A3838;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

#app {
    height: 100%;
}

input[type="text"],
input[type="password"],
textarea,
select {
    outline: none;
}