.user-video {
    height: 80%;
    text-align: center;
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.user-video video {
    max-height: 100%;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 16px #174240;
    transition: all 0.1s ease-out;
}

.user-video video:hover {
    box-shadow: 0 0 16px #65FF9E;
}