#no-users-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3A3838;
}

#no-users-message {
    position: absolute;
    top: 20%;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

#no-users-container #controls {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 130px);
}

.ripple-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(70deg);
}

.ripple {
    position: fixed;
    top: 0;
    transform: translateX(-50%);

    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: ripple 4s linear infinite;
}

.r2 {
    animation-delay: 0.8s;
}

.r3 {
    animation-delay: 1.6s;
}

.r4 {
    animation-delay: 2.4s;
}

.r5 {
    animation-delay: 3.2s;
}

.r6 {
    animation-delay: 4s;
}

@keyframes ripple {
    from {
        border: 4px solid #efeaea;
        background: #ffffff70;
    }

    to {
        border: 0px solid #efeaea;
        background: #ffffff70;
        width: 400px;
        height: 400px;
        top: 20px;
        opacity: 0;
    }
}