#one-user-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3A3838;
    overflow: hidden;
}

#one-user-container #user-video {
    position: absolute;
    height: 100%;
    width: 100%;
}

#one-user-container #my-video {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 135px;
}

#one-user-container #controls {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 130px);
    transition: all 0.1s ease-out;
}

#one-user-container #user-name {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 32px;
    background: linear-gradient(black, rgba(0, 0, 0, 0));
    color: white;
    opacity: 0;
    transition: all 0.1s ease-out;
}

#one-user-container.active #controls {
    opacity: 1;
}

#one-user-container.active #user-name {
    opacity: 1;
}