.joinscreen-container {
    height: 600px;
    width: 680px;
    box-shadow: 0 0 20px 1px #000000;
    border-radius: 10px;
    background: #EFEAEA;
    position: relative;
    color: black;
}

/** Main menu **/
.main-menu {
    height: 600px;
    position: relative;

}

.main-menu .welcome-text {
    position: absolute;
    top: 30px;
    width: 680px;
    font-size: 60px;
    text-align: center;
}

.main-menu .welcome-info {
    position: absolute;
    top: 120px;
    width: 680px;
    font-size: 20px;
    text-align: center;
}

.disclaimer {
    position: absolute;
    bottom: 30px;
    width: 680px;
    font-size: 16px;
    text-align: center;
}

#goToCreatingRoom {
    position: absolute;
    left: 90px;
    bottom: 290px;
}

#goToJoiningRoom {
    position: absolute;
    left: 90px;
    bottom: 130px;
}

/** Creating Room **/
.create-room {
    height: 600px;
    position: relative;
}

.create-room-text {
    position: absolute;
    top: 40px;
    width: 700px;
    font-size: 60px;
    text-align: center;
}

#createRoomName {
    position: absolute;
    top: 175px;
    left: 83px;
}

#createRoomPassword {
    position: absolute;
    top: 275px;
    left: 83px;
}

#goBack {
    position: absolute;
    bottom: 120px;
    left: 83px;
}

#createRoom {
    position: absolute;
    bottom: 120px;
    right: 83px;
}

/** Joining Room **/
.join-room {
    height: 600px;
    position: relative;
}

.join-room-text {
    position: absolute;
    top: 30px;
    width: 680px;
    font-size: 60px;
    text-align: center;
}

#joinRoomName,
#joinRoomPassword,
#joinLobbyId {
    position: absolute;
    left: 83px;
}

#joinLobbyId {
    top: 150px;
}

#joinRoomName {
    top: 235px;
}

#joinRoomPassword {
    top: 320px;
}

.join-room #goBack {
    bottom: 90px;
}

#joinRoom {
    position: absolute;
    bottom: 90px;
    right: 83px;
}